Flask==0.10.1
Flask-MongoKit==0.6
Flask-WTF==0.13.1
Jinja2==2.8
Logentries==0.17
lxml==3.6.0
MarkupSafe==0.23
mongokit==0.9.1.1
ujson==1.33
unicodecsv==0.14.1
Werkzeug==0.11.4
WTForms==2.1
pymongo==3.1.1
gunicorn==18.0
requests==2.0.1
