<!DOCTYPE html>
<html lang="he">
  <head>
	{% block head %}
    <meta charset="utf-8">
    <title>{% block title %}רישום לפעולה{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
      {% endblock %}
      
      <style>
          body
          {
                background-color:white;
          }
          h1 {
              font-size:15pt;
          }
          hr {
              border: 1px dotted gray;
          }
          .subtitle {
              font-size:12pt;color: gray;
          }
          .content
          {
              padding:0em 1.5em 0em 1.5em;
          }
      </style>

  </head>

<body dir=rtl>

    <div>
            <img src="cid:logo.jpg" alt="ngc-logo">
			<h1>מערכת לרישום חברים לפעולות</h1>
			<span class="subtitle">{% block subtitle %}{% endblock %}</span>
			<hr/>
    </div>
    <div>
            <div class="content">
            {% block content %}{% endblock %}</div>

     </div>

	{% block footer %}
	{% endblock %}
</body>
</html>
