<!DOCTYPE html>
<html lang="he">
  <head>
	{% block head %}
    <meta charset="utf-8">
    <title>{% block title %}רישום לפעולה{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

  {% endblock %}

  </head>

<body dir=rtl style="background-color:lightgray;padding:1em 1em 1em 1em; margin: 1em 1em 1em 1em;">
<div align="center">
	<table width="70%" align="center" height=200 style="background-color:white;">
        <tr>
            <td><!--
            <img src="cid:logo.jpg" alt="ngc-logo" style="margin:0em 3em 0em 3em;height: 5%;width: 5%;">
			-->
            </td>
        </tr>
        
        <tr>
            <td style="padding:0em 1.5em 0em 1.5em;">
            {% block content %}{% endblock %}
            </td>
        </tr>
    </table>

	{% block footer %}
	{% endblock %}
</body>
</html>
