{% extends "base.html" %}
{% block script %}
<script>
	$('.btn-arrival').click(function(){
		var btn = $(this)
		btn.button('loading');
		$.ajax({
			method: 'POST',
			url: 'mark_arrival',
			data: {id: btn.data('id'), username:'{{username}}'}
			})
			.done(function(str){
                btn.button('reset')
                if(str=='par') {
                    btn.html('משתתף');
                    btn.removeClass('btn-primary').addClass('btn-success');
                    }
                else {
                    btn.html('לא משתתף');
                    btn.removeClass('btn-success').addClass('btn-primary');
                    }
				});

				


	});
</script>
{% endblock %}

{% block content %}

<table class='table table-condensed'>
    {% for k in l %}
    {% if k.participate %}
        {% if username not in k.participate  %}
            {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning'} %}
        {% else %}
            {% set buttonStatus = {'buttonClass':'btn-success','buttonCaption':'משתתף', 'rowClass':'success'} %}
        {% endif %}
    {% else %}
        {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning'} %}
    {% endif %}
    
    <tr class='{{ buttonStatus.rowClass }}' id='{{ k._id }}'>
        <td>{{ k['date'] }}<br>{{ k['comment'] }}</td>
        <td><li>{{ k['instractor'] }}</li><li>{{ k['incharge'] }}</li></td>
        <td><button type="button" class="btn {{ buttonStatus.buttonClass }} btn-xs btn-arrival" data-id="{{ k['_id'] }}">{{ buttonStatus.buttonCaption }}</button></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}