{% extends "base.html" %}
{% block script %}
<script>

    $.fn.editable.defaults.mode = 'inline';
    $(document).ready(function() {
        $('.editable').editable({
            type: 'text',
            //name: 'operations/instructor',
            url: '/update',
            title: 'בחר שם אחר'
        });
    }); 
    
	$('.btn-arrival').click(function(){
		var btn = $(this)
		btn.button('loading').append('<span style="margin-right:0.5em" class="fa fa-circle-o-notch fa-spin pull-left"></span>');
        
		$.ajax({
			method: 'POST',
			url: 'mark_arrival',
            dataType: 'json',
			data: {id: btn.data('id'), username:'{{user.username}}'}
			})
			.done(function(str){
                $('#length_' +  btn.data('id')).html(str.length);
                btn.button('reset')
                if(str.participate==true) {
                    btn.html('<span class="glyphicon glyphicon-thumbs-up"></span>&nbsp;משתתף');
                    btn.removeClass('btn-primary').addClass('btn-success');
                    $('#' + btn.data('id')).removeClass('warning').addClass('success')
					$('#personal_comment_' + btn.data('id')).removeClass('hidden')
                    }
                else {
                    btn.html('<span class="glyphicon glyphicon-thumbs-down"></span>&nbsp;לא משתתף');
                    btn.removeClass('btn-success').addClass('btn-primary');
                    $('#' + btn.data('id')).removeClass('success').addClass('warning')
					$('#personal_comment_' + btn.data('id')).addClass('hidden')
                    }
				});

	});

	$('.txt-message').click(function(){
		var btn = $(this)

		$.ajax({
			method: 'POST',
			url: 'add_message',
            dataType: 'json',
			data: {id: btn.data('id'), username:'{{user.username}}'}
			})
	});
    
    $('.modal-list').click(function(){
            $(".modal-content").html("<span>טוען...<span>")
            $.ajax({
                method: 'GET',
                url: $(this).attr('href')
            
            }).done(function(str){$(".modal-content").html(str)});
    });
    

</script>
{% endblock %}

{% block page_style %}
<link rel="stylesheet"  href="{{ url_for('static', filename='css/ios6toggle.css') }}">
{% endblock %}

{% block content %}
<div id="modal" class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">משתתפים בפעולה</h4>
        </div>
      טוען
    </div>
  </div>
</div>

<div class="page-header">
<h4>שתי פעולות קרובות</h4>
</div>
<table id="operations" class='table table-striped table-condensed' >

    {% for k in l[0:2] %}
    {% if k.participate %}
        {% if k.participate == 'False' %}
            {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning', 'glyph':'glyphicon-thumbs-down'} %}
            {% set btnMesage = {'buttonClass':'hidden'} %}
        {% else %}
            {% set buttonStatus = {'buttonClass':'btn-success','buttonCaption':'משתתף', 'rowClass':'success', 'glyph':'glyphicon-thumbs-up'} %}
            {% set btnMesage = {'buttonClass':''} %}
        {% endif %}
    {% else %}
        {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning', 'glyph':'glyphicon-thumbs-down'} %}
        {% set btnMesage = {'buttonClass':'hidden'} %}
    {% endif %}
    
    {% if user.username in ['ngetter@gmail.com','assaf@rangecom.co.il','gmamashome03@gmail.com'] %}
        {% set guestvisible = '' %}
    {% else %}
        {% set guestvisible = 'hidden' %}
    {% endif %}
    <tr class='{{ buttonStatus.rowClass }}' id='{{ k._id }}'>
        <td ><span class="pull-right"><strong>{{ k['date'].strftime('%d.%m') }}</strong><br>{{ k['comment'] }}</span>
        </td>

        <td class="hidden-xs">
            <a class="editable" href="#" 
                data-pk="{{k._id}}"
                data-name="operations/instractor">{{ k['instractor'] | emptysign }}</a><br/>
            <a class="editable" href="#" 
                data-pk="{{k._id}}" 
                data-name="operations/incharge">{{ k['incharge'] | emptysign }}</a>
        </td>        
        <td>
				<button type="button" style="width:8em;" class="btn {{ buttonStatus.buttonClass }} btn-arrival " data-id="{{ k._id  }}">
					<span class="glyphicon {{ buttonStatus.glyph }}"></span>&nbsp;{{ buttonStatus.buttonCaption }}
				</button>
        </td>
		<td>
			<a id="guests_{{k._id}}" class="editable {{ guestvisible }}" href="#" 
                data-pk="{{k._id}}"
                data-name="operations/guests">{{ k['guests'] | emptysign("אורחים") }}</a><br/>
		</td>
		<td>
			<a id="personal_comment_{{k._id}}" class="editable {{ btnMesage.buttonClass }}" href="#" 
                data-pk="{{k._id}}"
                data-name="operations/participate/comment">{{ k['participant_comment'] | emptysign("הוסף הערה") }}</a><br/>
		</td>
        <td>
			
            <button type="button" class="btn btn-link modal-list pull-left" id="modal_a_{{ k._id }}" data-toggle="modal" data-target="#modal" href="participants/{{ k._id }}">
				<span id='length_{{ k._id  }}' class="badge badge-primary">{{ k['participants_count'] }}</span>
                <i class="fa fa-chevron-left"></i>        
            </button>
			
        </td>

    </tr>
    {% endfor %}
</table>

<div class="page-header">
<h4>פעולות נוספות</h4>
</div>
<table class='table table-striped table-condensed' >
    {% for k in l[2:] %}
    {% if k.participate %}
        {% if k.participate == 'False' %}
            {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning', 'glyph':'glyphicon-thumbs-down'} %}
        {% else %}
            {% set buttonStatus = {'buttonClass':'btn-success','buttonCaption':'משתתף', 'rowClass':'success', 'glyph':'glyphicon-thumbs-up'} %}
        {% endif %}
    {% else %}
        {% set buttonStatus = {'buttonClass':'btn-primary','buttonCaption':'לא משתתף', 'rowClass':'warning', 'glyph':'glyphicon-thumbs-down'} %}
    {% endif %}
    
    <tr class='{{ buttonStatus.rowClass }}' id='{{ k._id }}'>
        <td ><span class="pull-right"><strong>{{ k['date'].strftime('%d.%m') }}</strong><br>{{ k['comment'] }}</span>
        </td>

<!--        <td class="hidden-xs">
            <a class="editable" href="#" 
                data-pk="{{k._id}}"
                data-name="operations/instractor">{{ k['instractor'] | emptysign}}</a><br/>
            <a class="editable" href="#" 
                data-pk="{{k._id}}" 
                data-name="operations/incharge">{{ k['incharge'] | emptysign("חסר") }}</a>
            
             <a class="editable" href="#" 
                data-pk="{{k._id}}" 
                data-name="operations/first">{{ k['first'] | emptysign }}</a> 
        </td>-->
        <td width="31%"><button type="button" style="width:8em;" class="btn {{ buttonStatus.buttonClass }} btn-sm btn-arrival pull-right" data-loading-text="טוען..." data-id="{{ k._id  }}"><span class="glyphicon {{ buttonStatus.glyph }} pull-right"></span>&nbsp;{{ buttonStatus.buttonCaption }}</button>
        <td>
            <button type="button" class="btn btn-link modal-list pull-left" id="modal_a_{{ k._id }}" data-toggle="modal" data-target="#modal" href="participants/{{ k._id }}">
                <span id='length_{{ k._id  }}' class="badge badge-primary">{{ k['participants_count'] }}</span>
                <i class="fa fa-chevron-left"></i>        
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}