<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;&nbsp;&nbsp;&nbsp;</button>
    <h4 class="modal-title">משתתפים בפעולה</h4>
</div>

<div class="list-group bg-primary">
    <div><p class="list-group-item-text"><strong>מדריך</strong><span style="margin-right:4.2em;">{{ operation.instractor }}</span></p></div>
    <div><p class="list-group-item-text"><strong>אחראי בשדה</strong><span style="margin-right:1.2em;">{{ operation.incharge }}</span></p></div>
</div>
{% if l|length > 0 %}
<h4>נרשמו<small>  לפי סדר תור  </small></h4>

{% for k in l %}
{% if k.status[0] == 'ח'  %}
    {% set bullet = {'class':'fa-graduation-cap', 'color':'green'} %} 
{% else %}
    {% if k.status[0] == 'ס'  %}
        {% set bullet = {'class':'fa-graduation-cap', 'color':'red'} %} 
    {% else %}
        {% set bullet = {'class':'fa-paper-plane-o', 'color':'black'} %}
    {% endif %}
{% endif %}
<div>
<span style="margin-right:1em;margin-top:1em;">
<span>{{ k.position | emptysign | center(4) }}</span>
<i class="fa {{ bullet.class }} fa-fw" style="color:{{ bullet.color }}; margin-left:0.5em" />{{ k.plname }}</span>
</div>
{% endfor %}<!-- k in l -->


{% else %}
<div class="alert alert-warning" style="width:80%;margin-right:10%;margin-top:10;"><span class="glyphicon glyphicon-info-sign"><span>&nbsp;&nbsp;אין משתתפים בפעולה זו</div>
{% endif %}
