{% extends "base.html" %}

{% block customcss %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
	
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<form class="form-signin" method="post">
  <fieldset>
    <legend>רישום למערכת</legend>
    <label>דואר אלקטרוני</label>
    <input type="text" placeholder="כתובת דואר אלקטרוני" name="username">
    <span class="help-block">כתובת הדואר האלקטרוני תשמש למשלוח הודעות מערכת בנוגע לרישום חברים לפעולה</span>

    <label>שם פרטי ומשפחה</label>
    <input type="text" placeholder="הכנס שם פרטי ומשפחה" name="plname">

    <label>שלב בהכשרה</label>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="status" value="חניך" checked>
        חניך
      </label>
    </div>
    <div class="radio">
      <label>
        <input type="radio" name="status" id="status" value="סוליסט">
        סוליסט
      </label>
    </div>

    <label  data-container="body" >צ'ק על&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <div id="group-check" class="btn-group" data-toggle="buttons" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="על איזה דאון אתה נוהג לטוס סולו?">
      <label class="btn btn-primary">
        <input name='KG' class='btn-check text-right' type="checkbox"> KG
      </label>
      <label  class="btn btn-primary">
        <input name='AH' class='btn-check text-right' type="checkbox"> AH
      </label>
    </div>
    <div>
    <button type="submit" class="btn btn-large btn-primary">שלח</button>
    </div>
  </fieldset>
</form>
{% endblock %}

{% block script %}
<script>

    $(".btn-check").click(function(){
            $("#check").val($(this).val())
        })
    $("#group-check").popover('hide');

</script>
{% endblock %}