{% extends "base.html" %}

{% block customcss %}
    <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        max-width: 350px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="email"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 11px 15px;
      }
      
      .recapcha-container {
        direction:ltr;
        margin-bottom: 15px;
        margin: 10px 15px 15px -15px;
      }

    </style>
	
{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<form class="form-signin" method="post">

  <fieldset>
    {{ form.hidden_tag() }}
    <legend>רישום למערכת</legend>

        
    
    {% if form.errors.username is defined %}
        <div  class="form-group {{ form.errors.username[0][1] }}">
		
        {{ form.username.label }}
        {{ form.username(placeholder="כתובת דואר אלקטרוני" ) }}

        <p class="text-danger">{{ form.errors.username[0][0] }}</p>
        </div>
    {% else %}
        {{ form.username.label }}
        {{ form.username(placeholder="כתובת דואר אלקטרוני") }}
    {% endif %}
	<p id="username_in_system" class="text-success">שם קיים במערכת:<strong id="thename"></strong></p>
    <span class="help-block">כתובת הדואר האלקטרוני תשמש למשלוח הודעות מערכת בנוגע לרישום חברים לפעולה</span>
    <div id="register_only">
    {{ form.plname.label }}
    {{ form.plname(placeholder="הכנס שם פרטי ומשפחה") }}
    {% if form.errors.plname is defined %}
    <p class="text-danger">{{ form.errors['plname'][0] }}</p>
    {% endif %}
    <label>שלב בהכשרה</label>
    <div class="btn-group" data-toggle="buttons">

      <label class="btn btn-default">
        <input  type="radio" name="status" id="status" value="חניך" checked>
        חניך
      </label>


      <label class="btn btn-default">
        <input type="radio" name="status" id="status" value="סוליסט">
        סוליסט
      </label>
  
    
      <label class="btn btn-default">
        <input type="radio" name="status" id="status" value="אחר">
        בעל רשיון (אחר)
      </label>
    
    </div> <!-- buttons -->
	</div> <!-- register only -->
    <!--
    <div class="recapcha-container" >
    {{ form.recaptcha }}
    </div>
    --> 
  </fieldset>    
    <div style="margin-top:15px;">
    <button type="submit" id="submit" class="btn btn-large btn-primary">שלח</button>
    </div>

</form>
{% endblock %}

{% block script %}
<script>

	//$("#register_only").hide();
	$("#username_in_system").hide();
	//$("#submit").addClass('disabled');
    $(".btn-check").click(function(){
            $("#check").val($(this).val())
        })
    $("#group-check").popover('hide');
	
	$("#username").focusout(function(){
		var input = $("#username").val();
		if (input != '') {
		$.post(
			"getUserDetails",{ name: input },
			function( data ) {
				console.log ( data );
				if(data.plname) {
					$("#plname").val(data.plname);
					$("#username_in_system").fadeIn();
					$("#thename").html(data.plname);
					//$("#submit").removeClass('disabled');
				}
				else 
				{
					$("#register_only").fadeIn();
					$("#plname").val('');
					//$("#submit").addClass('disabled');
				}
				
			},"json");
		}
		else {$("#register_only").hide();}
		})
	
</script>
{% endblock %}