{% extends "base.html" %}

{% block script %}
<script>
    $.fn.editable.defaults.mode = 'popup';
    $(document).ready(function() {
        $('.editable').editable({
            type: 'text',
            //name: 'operations/instructor',
            url: '/update',
            title: 'בחר שם אחר'
        });
    }); 
</script>
{% endblock %}

{% block content %}

<div id="piloti">ha</div> 
<table id="pilots" class='table table-striped table-condensed' >
{% for k in l %}
<tr>
<td>{{ k.position }}</td>
<td><a class="pilot" href="#" data-pk="{{ k.position }}" >{{ k.pilot }}</a></td>
</tr>
{% endfor %}
</table>
  

{% endblock %}