{% extends "base.html" %}


{% block navbar %}{% endblock %}
{% block content %}
<div class="well well-large">
<img src="/static/img/logo.jpg" class="img-circle pull-right" style="margin-left:3em;margin-right:3em;margin-top:-3em">
<H1>חשבון המשתמש לא קיים או כבר הופעל</H1
<p>לחצת על קישור שהתקבל באימייל להפעלת חשבון המשתמש פעם נוספת לאחר שכבר הופעל המשתמש<br>
אם ברצונך לרשום את שם המשתמש הנוכחי במכשיר אחר (דפדפן אחר) יש לבצע רישום מחדש לכל מכשיר</p>
<a class="btn btn-success" href="/">חזור להתחלה</a>
<a class="btn btn-success" href="/register">רישום לאפליקציה</a>
{{a}}{{b}}
</div>
{% endblock %}
