{% extends "base_email.html" %}
{% block content %}
<div>
<h3>רישום לפעולה במרכז הדאייה נגב</h3>

<p>שלום חברים</p>
<p>על פי החלטת הוועד, חניכים וסוליסטים שמעוניינים לטוס ביום פעילות צריכים להרשם לפעילות מראש באתר.
חברים שיגיעו לפעילות ללא רישום מוקדם יטוסו על בסיס מקום פנוי ולאחר סיום כל סבב הטיסות הראשון של חברים שכן נרשמו.</p>
<p>כל מי שנרשם ולא מעוניין להגיע מתבקש לבטל את הרישום</p>
{% if membersNumber==0 %}
<p>עד כה לא נרשמו  חניכים או סוליסטים לפעולות סוף השבוע.</p>
{% else %}
{% endif %}
</p>
<li><a href="http://opsign.herokuapp.com/">לחץ כאן לכניסה למערכת הרישום
</a></li>

{% endblock %}
